
/*wide screen*/

@media only screen and (max-width: 1190px) {
    .list-object {
        min-width: unset;
        max-height: unset;
        height: 22vw;
    }
    .row-objects {
        justify-content: space-around;

    }
    main{
        width: 95%;
    }

    .list-object-parent {
    height: 30em;
        max-height: unset;
    }


}
/*meidum desktops*/

@media only screen and (max-width: 992px) {

}
/*small devices*/
@media only screen and (max-width: 768px) {
    .default-header {
        display: none;
    }
    .mobile-header {
        display: unset !important;
    }
    .small-screen {
        display: block;
    }
    .default-screen {
    display: none;
    }
    .list-object {
        height: 40vw;
    }
    .header-object {
        margin: 0 10px;
    }

    /*categories*/
    .list-object-parent {
		width: 21vw;
		height: 21vw;

    }
    .list-object-category {
        width: 12vw;
        height: 10vw;
    }
}
/*phones*/

@media only screen and (max-width: 480px) {

}
/**/

@media only screen and (max-width: 320px) {

}