    body {
        background-color: #f2f3f3;
        color: #54595F;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        font-size: 20px !important;
    }
    header {
        background-color: #ffffff;
        width: 100%;

        box-shadow: 0 10px 150px rgba(0,0,0,0.1);
        height: 6.2em;
        margin-bottom: 2em;
        align-items: center;
        display: flex !important;
        justify-content: flex-start;
    }
    .header-center {
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }
    .header-object {
        width: 100px;
        padding: 0em 0em;
        margin: 0em 1vw;
    }
    .header-object-vertical {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding-left: 0;
        margin-left: 0em;
        margin-right: 5em;
    }
    main {
        width: 65%;
        margin-left:  auto;
        margin-right:  auto;
        /*display: flex;*/
        /*justify-content: space-between;*/
        /*align-items: center;*/
    }
    .row-objects{
        margin: 20px auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /*flex-wrap: wrap;*/
        /*margin-top: 100px;*/
    }
    .list-object{
        box-shadow: 0 0px 10px rgba(0,0,0,0.1);
        background-color: #666;
        min-width: 263px;
        max-height: 263px;
        width: 40vw;
        height: 40vw;
        border-radius: 20px;
        text-align: center;
        margin: 1em 1vw;

    }
    .menu-button {
   		cursor: pointer;
        background-color: #5bb9c7;
        width: 24vw;
        height: 6.2em;
        padding-right: 50px;

        /*position: absolute;*/
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 0px 10px rgba(0,0,0,0.1);

        display: flex;
        justify-content: flex-end;
    }
    .small-screen {
        display: none;
    }
    .mobile-header {
        display: none;
    }
    .splide__slide__container {
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-evenly;
        width: 100vw%;
    }
    .banner-small-image {

    }


