
{% extends 'base.html' %}

{% block title %}
	{{ category_name }}
{% endblock %}

{% block body %}
<main>
<section class="row-objects">
	{% for j in range(0, food_list|length) %}

	<div class="list-object list-object-parent" onClick="document.location='/meal/{{ food_list[j].id }}'">

<!--		<div class="list-object-category" style="background-image: url('..//static/media/s_{{ food_list[j].id }}.jpg');">-->
		<div class="list-object-category" style="background-image: url('..//static/media/erik1.png');"></div>

		<div> <h5> {{ food_list[j].name }} </h5> </div>
		<div style="color: #000"> <h4> {{ food_list[j].price }}p </h4> </div>
	</div>
	{% endfor %}
</section>
</main>
<style>
	.list-object-parent {
		display: flex;
        flex-direction: column;
		cursor: pointer;
		height: 18em;
		background-color: #fff;
        box-shadow: 0 10px 150px rgba(0,0,0,0.1);
		align-items: center;
	}
	.list-object-category {
        background-color: #666;
        width: 10em;
        height: 10em;
		border-radius: 20px;
<!--		box-shadow: 0 0px 10px rgba(0,0,0,0.05);-->
		margin-left: 0;
		margin-right: 0;
		margin-top: 1em;
		margin-bottom: 20px;
		background-size: cover;
	}
	.list-object-parent:hover {
		box-shadow: 0 0px 10px rgba(0,0,0,0.2);
	}
</style>

{% endblock %}
