
{% extends 'base.html' %}

{% block title %}
Sushi
{% endblock %}


{% block body %}
<main>
<section class="row-objects">
    {# for j in range(0, (4 if (i == 0 and categories|length > 3) or categories|length / 4 > categories|length / i else categories|length % 4 + 1 )) #}
    {% for j in range(0, categories|length) %}

    <div class="list-object list-object-image" style="background-image: url('static/media/{{ j }}.png');">
        <a href="/category/{{ j }}" style="display: block; text-align: center; height: 100%;"></a>
    </div>
    {% endfor %}
</section>
</main>
<style>
    .list-object:hover {
        box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    }
    .list-object-image {
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: white;

    }
</style>
{% endblock %}