
{% extends 'base.html' %}

{% block title %}
Sushi
{% endblock %}


{% block body %}
<main>
<div class="food-window">
    <div class="main-frame food-image" style="background-image: url('..//static/media/s_{{ food.id }}.jpg');"></div>
    <div class="main-frame description-frame">
        <span style="margin-top: 3em;"> <h5>Главная / Хиты продаж / Loveстори</h5> </span>
        <span style="margin-top: 1em;"> <h1> {{ food.name }} </h1> </span>
        <span style="margin-top: 3em;"> Ролл «Филадельфия Гранд», ролл «Сливочный снежный краб», «Мидии запеченные классические». Возможно попадание мелких частиц мидии, после термообработки. </span>
        <span style="margin-top: 3em; margin-left: 0em;"> <h2> {{ food.price }}р </h2> </span>
    </div>
</div>
<main>

<style>
    main {
        width: 75%;
    }
    .food-window {
        margin: 0 0em;
        display: flex;
        flex-direction: raw;
        align-items: center;
        justify-content: space-around;

    }
    .main-frame {
        width: 32em;
        height: 35em;

        margin: 2em 1em;
<!--        background-color: #555;-->
    }
    .food-image {
        border-radius: 20px;
        background-size: cover;
        box-shadow: 0 10px 150px rgba(0,0,0,0.1);
    }
    .description-frame {
        display: flex;
        flex-direction: column;
    }
</style>

{% endblock %}